<li class="span3">
  <div class="thumbnail">
    <h4>
      <%= link_to company.name, company %>
    </h4>
    <%= link_to (image_tag company.avatar.url(:medium)), company %>
    <p>
      <%= company.description %>
    </p>
  </div>
</li>