<div class="container">
  <div class="hero-unit">
    <div>
      <h1>
        Invest in a startup
      </h1>
      <p>
        Don't miss out on the next big thing Blacksun is a crowdfunding investment platform that connects startups with investors
      </p>
    </div>
    <a class="btn btn-primary" href="#">
      Learn more »
    </a>
  </div>
  <ul class="thumbnails">
    <%= render @companies %>
  </ul>

  <hr>
  <div>
    © Blacksun 2013
  </div>
</div>