
  <li>
    <div class="thumbnail pull-left">
        <!--<img src="http://placehold.it/900x600" class="image">-->
        <%= link_to (image_tag founder.avatar.url(:medium)), founder %>
    </div>
    <h4>
      <%= link_to founder.name, founder %>
    </h4>
    <p>
      <%= founder.accomplishments %>
    </p>
  </li>